{% extends 'biblioteca/base.html' %}

{% block content %}
<div class="container py-5">
    <div class="card shadow-sm">
        <div class="card-body">

            <h2 class="card-title mb-4 text-center">Dados do Funcionário</h2>

            <dl class="row">
                <dt class="col-sm-4">Nome:</dt>
                <dd class="col-sm-8">{{ funcionario.nome }}</dd>

                <dt class="col-sm-4">CPF:</dt>
                <dd class="col-sm-8">{{ funcionario.cpf }}</dd>

                <dt class="col-sm-4">Telefone:</dt>
                <dd class="col-sm-8">{{ funcionario.telefone }}</dd>

                <dt class="col-sm-4">Data de Nascimento:</dt>
                <dd class="col-sm-8">{{ funcionario.data_nascimento|date:"d/m/Y" }}</dd>

                <dt class="col-sm-4">Gênero:</dt>
                <dd class="col-sm-8">{{ funcionario.get_genero_display }}</dd>

                <dt class="col-sm-4">Estado Civil:</dt>
                <dd class="col-sm-8">{{ funcionario.get_estado_civil_display }}</dd>

                <dt class="col-sm-4">Escolaridade:</dt>
                <dd class="col-sm-8">{{ funcionario.get_escolaridade_display }}</dd>
            </dl>

            <div class="text-center mt-4">
                <a href="{% url 'funcionarios' %}" class="btn btn-secondary">Voltar para lista</a>
            </div>

        </div>
    </div>
</div>
{% endblock %}
