{% extends 'academico/base.html' %}

{% block content %}

{% if ativos %}
<h1>Gerenciar Clientes</h1>
{% else %}
<h1>Gerenciar Clientes Inativos</h1>
{% endif %}

<p>
<form method="get">
    <input type="text" name="busca" placeholder="Buscar por nome" value="{{ query|default:'' }}">
    <button type="submit">Buscar</button>
</form>
</p>

<table class="table table-bordered table-striped table-hover mt-4">
    <tr>
        {% if ativos %}
        <th><a href="{% url 'ordenar_clientes' 'nome' %}?busca={{ query }}">Nome</a></th>
        <th><a href="{% url 'ordenar_clientes' 'cpf' %}?busca={{ query }}">CPF</a></th>
        <th><a href="{% url 'ordenar_clientes' 'telefone' %}?busca={{ query }}">Telefone</a></th>
        <th><a href="{% url 'ordenar_clientes' 'endereco' %}?busca={{ query }}">Endereço</a></th>
        <th><a href="{% url 'ordenar_clientes' 'livro' %}?busca={{ query }}">Livro</a></th>
        {% else %}
        <th><a href="{% url 'ordenar_clientes_inativos' 'nome' %}?busca={{ query }}">Nome</a></th>
        <th><a href="{% url 'ordenar_clientes_inativos' 'cpf' %}?busca={{ query }}">CPF</a></th>
        <th><a href="{% url 'ordenar_clientes_inativos' 'telefone' %}?busca={{ query }}">Telefone</a></th>
        <th><a href="{% url 'ordenar_clientes_inativos' 'endereco' %}?busca={{ query }}">Endereço</a></th>
        <th><a href="{% url 'ordenar_clientes_inativos' 'livro' %}?busca={{ query }}">Livro</a></th>
        {% endif %}
        <th>Ações</th>
    </tr>

    {% for cliente in clientes %}
    <tr>
        <td>{{ cliente.nome }}</td>
        <td>{{ cliente.cpf }}</td>
        <td>{{ cliente.telefone }}</td>
        <td>{{ cliente.endereco }}</td>
        <td>{{ cliente.livro.titulo }}</td>
        <td>
            {% if ativos %}
            <a href="{% url 'editar_cliente' cliente.id %}">Editar</a>
            <a href="{% url 'excluir_cliente' cliente.id %}">Excluir</a>
            {% else %}
            <a href="{% url 'ativar_cliente' cliente.id %}">Ativar</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}