{% extends 'academico/base.html' %}
{% load form_filters %}
{% block content %}

<div class="container py-5">
    <h2 class="text-center mb-4">Renovar Empréstimo</h2>

    <p><strong>Livro:</strong> {{ emprestimo.livro.titulo }}</p>
    <p><strong>Cliente:</strong> {{ emprestimo.cliente.nome }}</p>
    <p><strong>Data Atual de Devolução:</strong> {{ emprestimo.data_devolucao_prevista }}</p>

    <form method="post">
        {% csrf_token %}
        {{ form.data_devolucao_prevista.label_tag }}
        {{ form.data_devolucao_prevista|add_class:"form-control" }}

        <div class="d-grid mt-3">
            <button type="submit" class="btn btn-primary">Confirmar Renovação</button>
        </div>
    </form>

    <div class="text-center mt-4">
        <a href="{% url 'lista_emprestimos' %}" class="btn btn-link">Voltar</a>
    </div>
</div>

{% endblock %}
