{% extends 'academico/base.html' %}

{% block content %}
<div class="container py-5">
    <div class="card shadow-sm">
        <div class="card-body">

            <h2 class="card-title mb-4 text-center">Dados do Cliente</h2>

            <dl class="row">
                <dt class="col-sm-4">Nome:</dt>
                <dd class="col-sm-8">{{ cliente.nome }}</dd>

                <dt class="col-sm-4">CPF:</dt>
                <dd class="col-sm-8">{{ cliente.cpf }}</dd>

                <dt class="col-sm-4">Telefone:</dt>
                <dd class="col-sm-8">{{ cliente.telefone }}</dd>

                <dt class="col-sm-4">Endereço:</dt>
                <dd class="col-sm-8">{{ cliente.endereco }}</dd>

                <dt class="col-sm-4">Livro Emprestado:</dt>
                <dd class="col-sm-8">{{ cliente.livro.titulo }}</dd>
            </dl>

            <div class="text-center mt-4">
                <a href="{% url 'clientes' %}" class="btn btn-secondary">Voltar para lista</a>
            </div>

        </div>
    </div>
</div>
{% endblock %}
